In [1]:
from etl.extract import Extract
from etl.transform import Transform
from etl.load import Load
import pandas as pd

In [2]:
extract = Extract()
transform = Transform()
load = Load()

In [3]:
df_customer     = extract.read_csv("G:\My Drive\Datos Personales\Studies\DataPath Bootcamp\Coder Review 7 - Projecto ETL Python\data_orig\customer","|",["customer_id","customer_fname","customer_lname","customer_email","customer_password","customer_street","customer_city","customer_state","customer_zipcode"])
df_orders       = extract.read_csv("G:\My Drive\Datos Personales\Studies\DataPath Bootcamp\Coder Review 7 - Projecto ETL Python\data_orig\orders","|",["order_id","order_date","order_customer_id","order_status"])
df_order_items  = extract.read_csv("G:\My Drive\Datos Personales\Studies\DataPath Bootcamp\Coder Review 7 - Projecto ETL Python\data_orig\order_items","|",["order_item_id","order_item_order_id","order_item_product_id","order_item_quantity","order_item_subtotal","order_item_product_price"])
df_departments  = extract.read_csv("G:\My Drive\Datos Personales\Studies\DataPath Bootcamp\Coder Review 7 - Projecto ETL Python\data_orig\departments","|",['department_id', 'department_name'])
df_categories   = extract.read_csv("G:\My Drive\Datos Personales\Studies\DataPath Bootcamp\Coder Review 7 - Projecto ETL Python\data_orig\categories","|",["category_id", "category_department_id", "category_name"])
df_products     = extract.read_csv("G:\My Drive\Datos Personales\Studies\DataPath Bootcamp\Coder Review 7 - Projecto ETL Python\data_orig\products","|",["product_id","product_category_id","product_name","product_description","product_price","product_image"])

In [5]:
df_customer.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725

In [ ]:
df_orders.head()

In [ ]:
df_order_items.head()

In [ ]:
df_products.head()

In [ ]:
df_categories.head()

In [ ]:
df_departments.head()

In [4]:
#### Transform 
df_enunciado1 = transform.enunciado1(df_customer, df_orders, df_order_items)

In [ ]:
df_enunciado1.head()

In [5]:
df_enunciado2 = transform.enunciado2(df_order_items, df_products,df_categories)

In [ ]:
df_enunciado2.head()

In [6]:
df_enunciado3 = transform.enunciado3(df_customer, df_orders, df_order_items, df_products, df_categories)

In [ ]:
df_enunciado3.head()

In [7]:
df_enunciado4 = transform.enunciado4(df_customer, df_orders, df_order_items, df_products, df_categories )

In [ ]:
df_enunciado4.head()

In [8]:
from utils import utils as u
import sqlalchemy as db

db = 'TargetDEPRetailProject'

enunciado1 = "enunciado1"
enunciado2 = "enunciado2"
enunciado3 = "enunciado3"
enunciado4 = "enunciado4"

# u.mysql_engine()

u.create_mysql_tbl_schema(df_enunciado1, u.mysql_conn(u.mysql_engine()), db, enunciado1)
u.create_mysql_tbl_schema(df_enunciado2, u.mysql_conn(u.mysql_engine()), db, enunciado2)
u.create_mysql_tbl_schema(df_enunciado3, u.mysql_conn(u.mysql_engine()), db, enunciado3)
u.create_mysql_tbl_schema(df_enunciado4, u.mysql_conn(u.mysql_engine()), db, enunciado4)

In [10]:
#### Load
load.load_mysql(df_enunciado1, enunciado1)
load.load_mysql(df_enunciado2, enunciado2)
load.load_mysql(df_enunciado3, enunciado3)
load.load_mysql(df_enunciado4, enunciado4)